/*Videobox*/
#vbOverlay { position: fixed; z-index: 9999; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; cursor: pointer; }
#vbCenter, #vbBottomContainer { position: absolute; z-index: 9999; overflow: hidden; background-color: #fff; }
#vbVideo, #vbVideo5{ position: absolute; left: 0; top: 0; border: 10px solid #fff; background-repeat: no-repeat; background-color: black; }
#vbBottom { font-family: Verdana, Arial, Geneva, Helvetica, sans-serif; font-size: 10px; color: #13242A; line-height: 1.4em; text-align: left; border: 10px solid #fff; border-top-style: none; }
#vbCloseLink { display: block; float: right; width: 66px; height: 22px; background: transparent url(closelabel.gif) no-repeat center; margin: 5px 0; outline: none; }
#vbCaption, #vbNumber { margin-right: 71px;}
#vbCaption { font-weight: bold; font-style: italic; }

/*Inline player*/
#vbiPlayer {display: inline-block;vertical-align: top;max-width: 100%;overflow: visible !important;}
#vbiCloseLink {display: block;width: 16px;height: 16px;background: url(close.png);float: right;margin-top: -7px;margin-right: -7px;z-index: 5000;position: relative;margin-bottom: -9px;}
#vbiCloseLink:hover {background: url(close_h.png);}
#vbiVideoCont {overflow: hidden;max-width: 100%; width: auto \9; -ms-interpolation-mode: bicubic;  border: 0;  border-radius: 0px;  box-shadow: 0 0 0 4px #FFF, 0 0 0 5px #CCC, 2px 2px 5px 6px rgba(0,0,0,0.2);  margin: 5px;  margin-bottom: 7px;}
#vbiVideo {width: 100%;float: left;background: #000;}
#vbiCaption{display: block;font-weight: bold;padding: 5px 5px 0;}

/*Gallery*/
.vb_gallery_frame {text-align: left!important;clear: both;margin-top: 20px;}
.vb_video{display: block!important;margin: 0;padding: 0;list-style-type: none!important;list-style-image: none!important;line-height: normal;margin-right: -20px!important;text-align: center;}
.vb_video_cont {display: inline-block!important;margin: 0;padding: 0;background: transparent none no-repeat scroll 0 0;text-align: center!important;vertical-align: top!important;line-height: normal;max-width: 100%;}
.vb_video_cont.vb_gal {margin-right: 20px;}
.vb_video_cont a {display: block;cursor: pointer;margin-bottom: 10px;}
.vb_video_cont a img {max-width: 100%;width: auto \9;height: auto;vertical-align: middle;-ms-interpolation-mode: bicubic;border: 0;border-radius: 0px;box-shadow: 0 0 0 4px #FFF, 0 0 0 5px #CCC, 2px 2px 5px 6px rgba(0,0,0,0.2);margin: 5px;margin-bottom: 7px;}
.vb_video_title{display: block;font-weight: bold;margin-top: 5px;padding: 0 5px;}