#vbOverlay,
#vbWrap,
#vbCenter,
#vbContent,
#vbResponsive,
#vbVideo,
#vbBottomContainer,
#vbBottom,
#vbiWrap,
#vbiResponsive,
#vbiVideo,
#vbiClose,
[class^="vb-icon-"], [class*=" vb-icon-"],
[class^="vb_"], [class*=" vb_"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Pop-up player */
#vbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0);
}

#vbOverlay.visible {
	visibility: visible;
	background-color: rgba(0, 0, 0, 0.7);
}

#vbWrap {
	position: absolute;
	z-index: 9999;
	left: 0;
	top: 0;
	height: 100%;
	visibility: hidden;
	pointer-events: none;
	width: 100%;
}

#vbWrap.visible {
	visibility: visible;
}

#vbCenter {
	display: table;
	max-width: 15%;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

#vbWrap.animating {
	overflow: hidden;
}

#vbContent {
	position: relative;
	display: table-cell;
	vertical-align: middle;
}

#vbResponsive {
	position: relative;
	display: block;
	width: 100%;
	height: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000;
	box-shadow: 0px 0px 40px -5px #000;
	pointer-events: all;
	z-index: 10;
}

#vbVideo {
	background-color: #000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

#vbBottomContainer {
	width: 100%;
	position: absolute;
	background-color: #fff;
	max-height: 0;
	overflow: hidden;
	background-color: #000;
	opacity: 0.5;
	box-shadow: 0px 0px 40px -5px #000;
	pointer-events: all;
	z-index: 5;
}

#vbBottomContainer.visible {
	max-height: 200px;
}

#vbBottomContainer.visible:hover,
#vbBottomContainer.visible:focus {
	opacity: 1;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}

#vbBottom {
	position: relative;
	width: 100%;
	padding: 15px 15px 0;
	text-align: left;
	font-weight: 400;
	font-size: 15px;
}

#vbCloseLink {
	display: inline-block;
	float: right;
	text-transform: uppercase;
	line-height: 1em;
	padding-left: 5px;
	text-decoration: none;
	font-size: 1.2em;
	margin: -5px -5px 10px 10px;
}

#vbBottomContainer,
#vbCloseLink {
	color: #ffffff;
}

#vbCloseLink:hover,
#vbCloseLink:focus {
	color: #84d1a4;
	text-decoration: none;
}

#vbCloseText {
	display: inline-block;
	vertical-align: middle;
	padding-top: 0.15em;
}

#vbCloseLink i {
	display: inline-block;
	vertical-align: middle;
	font-size: 2em;
}

#vbCaption {
	margin-bottom: 10px;
	display: block;
}

.vb_line_fix {
	white-space: nowrap;
	max-width: 100%;
	display: inline-block;
}

#vbOverlay,
#vbWrap.visible #vbCenter,
.vb_video_cont a {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

#vbBottomContainer.visible {
	-webkit-transition: all .5s .6s ease-in-out, opacity .5s .1s ease-in-out;
	-moz-transition: all .5s .6s ease-in-out, opacity .5s .1s ease-in-out;
	-ms-transition: all .5s .6s ease-in-out, opacity .5s .1s ease-in-out;
	-o-transition: all .5s .6s ease-in-out, opacity .5s .1s ease-in-out;
	transition: all .5s .6s ease-in-out, opacity .5s .1s ease-in-out;
}

#vbCloseLink,
#vbiClose,
.vb_thub_wrap .vb-icon-play {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

/* Inline player */
#vbiWrap {
	width: 100%;
	position: relative;
	visibility: hidden;
	color: #005723;
	text-align: center;
}

#vbiWrap.visible {
	visibility: visible;
}

#vbiResponsive {
	position: relative;
	display: block;
	width: 100%;
	height: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000;
	padding-bottom: 56.25%;
	pointer-events: all;
}

#vbiVideo {
	background-color: #000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

#vbiClose {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	margin: -15px -15px 0 0;
	font-size: 24px;
	line-height: 1;
	cursor: pointer;
	padding: 3px;
	opacity: 0;
}

#vbiWrap:hover #vbiClose { 
	opacity: 1; 
}

#vbiClose:hover,
#vbiClose:focus {
	color: #50bf82;
}

#vbiWrap,
#vbiWrap.visible #vbiResponsive {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}


/* Content */
.vb_video_cont {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.vb_video_cont img {
	display: block;
	max-width: 100%;
	height: auto;
	width: 100%;
}

.vb_video_cont,
.vb_video_cont a {
	text-decoration: none;
	color: #005723;
	display: inline-block;
	width: 100%;
}

.vb_video_cont:hover,
.vb_video_cont:focus,
.vb_video_cont a:hover,
.vb_video_cont a:focus {
	color: #50bf82;
}

.vb_video_title {
	display: block;
	padding: 8px 10px 0;
}

.vb_video_title:empty {
	display: none;
}

.vb_video_sizer {
	position: relative;
	display: block;
	height: 0;
	overflow: hidden;
	background-color: #000;
}

.vb_video_sizer iframe {
	background-color: #000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.vb_video_frame {
	display: inline-block;
	width: 100%;
	margin: 15px 0 25px;
	text-align: center;
	font-size: 1.2em;
	color: #005723;
}

.pagination {
	margin: 15px 0;
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
}

.pagination>li {
	display: inline;
}

.pagination>li>a, 
.pagination>li>span {
	background-color: #fff;
	color: #005723;
	border: none;
	text-shadow: 0px 0px 10px #84d1a4;
	font-weight: 400;
	font-size: 1.1428571428571428571428571428571em;
	padding: 7px 14px;
	text-decoration: none;
}

.pagination>li+li>a, 
.pagination>li+li>span {
	border-left: 1px solid #fff;
	margin-left: 0;
}

.pagination>li>a:hover, 
.pagination>li>span:hover, 
.pagination>li>a:focus, 
.pagination>li>span:focus,
.pagination>li.active>a, 
.pagination>li.active>span {
	color: #005723;
	background-color: #84d1a4;
}

.vb_gallery {
	padding: 0;
	margin: 8px -7px 7px -8px;
	display: flex;
	flex-flow: row wrap;
	clear: both;
}

.vb_video_cont.vb_gal {
	margin: 7px 7px 8px 8px;
}

.vb_video_cont.vb_gal:empty {
	margin-top: 0;
	margin-bottom: 0;
}

.vb_thub_wrap {
	position: relative;
	display: block;
}

.vb_thub_wrap .vb-icon-play {
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: 50%;
	right: 50%;
	width: 72px;
	height: 72px;
	margin: -36px;
	border-radius: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 40px -5px #000;
	font-size: 48px;
	line-height: 72px;
	color: #ffffff;
	display: none;
}

.vb_video_cont:hover .vb_thub_wrap .vb-icon-play,
.vb_video_cont:focus .vb_thub_wrap .vb-icon-play,
.vb_video_cont a:hover .vb_thub_wrap .vb-icon-play,
.vb_video_cont a:focus .vb_thub_wrap .vb-icon-play {
	color: #84d1a4;
	background-color: rgba(0, 0, 0, 0.7);
}

.vb_play_button .vb_thub_wrap .vb-icon-play {
	display: block;
}

@media (min-width: 768px) {
	
	.vb_gallery {
		margin: 0px -15px 7px;
	}
	
	.vb_video_cont.vb_gal {
		margin: 15px 15px 8px;
	}
	
}

/* Videobox font */
@font-face {
	font-family: 'Videobox';
	src:url('../fonts/Videobox.eot?3fkchv');
	src:url('../fonts/Videobox.eot?3fkchv#iefix') format('embedded-opentype'),
		url('../fonts/Videobox.ttf?3fkchv') format('truetype'),
		url('../fonts/Videobox.woff?3fkchv') format('woff'),
		url('../fonts/Videobox.svg?3fkchv#Videobox') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="vb-icon-"], [class*=" vb-icon-"] {
	font-family: 'Videobox';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.vb-icon-HitkoDev:before {
	content: "\e600";
}
.vb-icon-play:before {
	content: "\e601";
}
.vb-icon-play-circle:before {
	content: "\e602";
}
.vb-icon-pause:before {
	content: "\e603";
}
.vb-icon-mute:before {
	content: "\e604";
}
.vb-icon-volume-1:before {
	content: "\e605";
}
.vb-icon-volume-2:before {
	content: "\e606";
}
.vb-icon-volume-4:before {
	content: "\e607";
}
.vb-icon-full-screen:before {
	content: "\e608";
}
.vb-icon-small-screen:before {
	content: "\e609";
}
.vb-icon-square:before {
	content: "\e60a";
}
.vb-icon-spinner:before {
	content: "\e60b";
}
.vb-icon-subtitles:before {
	content: "\e60c";
}
.vb-icon-captions:before {
	content: "\e60d";
}
.vb-icon-chapters:before {
	content: "\e60e";
}
.vb-icon-share:before {
	content: "\e60f";
}
.vb-icon-settings:before {
	content: "\e610";
}
.vb-icon-circle:before {
	content: "\e611";
}
.vb-icon-radio:before {
	content: "\e612";
}
.vb-icon-radio-selected:before {
	content: "\e613";
}
.vb-icon-close:before {
	content: "\e614";
}
.vb-icon-circle-close:before {
	content: "\e615";
}
.vb-icon-circle-close-invert {
	position: relative;
	display: block;
	width: 1em;
	height: 1em;
}
.vb-icon-circle-close-invert:before,
.vb-icon-circle-close-invert:after {
	display: block;
	width: 1em;
	height: 1em;
	position: absolute;
	top: 0;
	left: 0;
}
.vb-icon-circle-close-invert:before {
	content: "\e611";
}
.vb-icon-circle-close-invert:after {
	content: "\e616";
	color: #fff !important;
}