#vbResponsive {    
	position: relative;
	display: block;
	width: 100%;
	height: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000;
	pointer-events: all;
	z-index: 10;
    box-shadow: 0px 0px 40px -5px #000;
}